@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="Show" class="w-50 mx-auto mt-4">
    <input type="hidden" name="Id" value="0" />
    <h2 class="mb-4">Add Doctor</h2>
    <div class="form-group mb-3">
        <label for="DocName">Doctor Name</label>
        <input type="text" class="form-control" id="DocName" name="DocName" required />
    </div>

    <div class="form-group mb-3">
        <label for="Specialization">Specialization</label>
        <input type="text" class="form-control" id="Specialization" name="Specialization" required />
    </div>

    <div class="form-group mb-3">
        <label for="PhoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" pattern="[0-9]{10}" required />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
